h1{
    text-align: center;
    background-color: cadetblue;
}
.input {
    float: left;
    width: 40%;
    text-align: center;
}
.table1 {
    border: 1px solid black;
}
table tr th {
padding-right: 20px;
}
.logo {
    background-color: cornflowerblue;
}
.inf {
    width: 30%;
}
.enter_information {
    width: 200px;
}
table tr th {
    margin-right: 30px;
}